[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/your-identity/hugo-theme-dimension.git
[submodule "themes/lynx"]
	path = themes/lynx
	url = https://github.com/jpanther/lynx.git
